<section class="container">
    <div class="row g-3">
        <div class="col-12">
            <aside class="bg-light shadow-sm rounded">
                <div class="accordion" id="pageEditor">
                    <div class="accordion-item">
                        <h2 class="accordion-header" @click="refreshArticle()">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                <span class="fw-bold sans">1. NEW Page Details</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#pageEditor">
                            <div class="p-2">
                                <aside class="d-flex flex-column gap-2">
                                    <!-- Folder -->
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="bi bi-folder2"></i></div>
                                        <select class="form-select" v-model="store.nextPage.folder">
                                            <option value="blogs">BLOG</option>
                                            <option value="services">SERVICES</option>
                                        </select>
                                    </div>
                                    

                                    <!-- BADGE -->
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-patch-check"></i>
                                        </span>
                                        <input list="demo" v-model="store.nextPage.badge" type="text" placeholder="Badge" class="form-control">
                                        <datalist id="demo">
                                            <option value="DEMO">DEMO</option>
                                            <!-- <option value="SERVICE">SERVICE</option>
                                            <option value="BLOG">BLOG</option> -->
                                        </datalist>
                                    </div>
                                    
                                    <!-- Images -->
                                    <div class="input-group">
                                        <span class="input-group-text position-relative">
                                            <i class="bi bi-image"></i>
                                            <span v-if="store.nextPage.media.length > 0" class="badge bg-primary fs-xx-small position-absolute top-0 start-100 translate-middle badge rounded-pill z-1 sans">{{store.nextPage.media.length}}</span>
                                        </span>
                                        <div class="form-control text-secondary d-flex gap-3 align-items-center justify-content-between" @click="selectImages" aria-label="add images" role="button" title="add images" >
                                            <span class="">Thumbnails</span>
                                            <div class="d-flex gap-2 align-items-center">
                                                <img v-for="node in store.nextPage.media" :src="node.src64" :alt="node.alt" width="40" height="40" class="object-fit-contain rounded">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- media links -->
                                    <div class="d-flex flex-column gap-3 mt-3">
                                        <div  v-if="filteredLinks.length > 0 && store.nextPage.links.trim() != ''" class="d-flex align-items-center flex-wrap gap-1">
                                            <div v-for="node in filteredLinks" class="d-flex align-items-center gap-1 px-2 fs-x-small border rounded-pill">
                                                <span class="material-symbols-outlined fs-6">attachment</span>
                                                <span class="text-break">{{node}}</span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text position-relative">
                                                <!-- <i class="bi bi-link"></i> -->
                                                <span class="material-symbols-outlined fs-6">attachment</span>
                                                <span v-if="filteredLinks.length > 0 && store.nextPage.links.trim() != ''" class="badge bg-primary fs-xx-small position-absolute top-0 start-100 translate-middle badge rounded-pill z-1 sans">{{filteredLinks.length}}</span>
                                            </span>
                                            <textarea rows="3" style="outline: none !important;" v-model="store.nextPage.links" type="text" placeholder="Attachments: Youtube, Google Drive, Canva URL (separated by comma ,)" class="form-control"></textarea>
                                            <span role="button" data-bs-toggle="modal" data-bs-target="#mediaLinksInfo" class="input-group-text"><span class="material-symbols-outlined">info</span></span>
                                            <!-- Modal -->
                                            <div class="modal modal-xl fade" id="mediaLinksInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5">Supported Formats</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body sans text-break">
                                                            <ul>
                                                                <li>
                                                                    <b>YouTube</b>
                                                                    <ul>
                                                                        <li>https://www.youtube.com/watch?v=-eAU7uDq6pU</li>
                                                                        <li>https://youtu.be/-eAU7uDq6pU?si=wHmMD_28LU0FU2DA</li>
                                                                        <li>https://www.youtube.com/shorts/d_DYMNc7VTY</li>
                                                                        <li>https://youtube.com/shorts/d_DYMNc7VTY?si=iGsdlBQCDZrrE44M</li>
                                                                        <li>https://www.youtube.com/live/-SMKLtv-8q8?si=v_O7GR7vHqF_5ELB</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <b>Google Drive Files images - videos - pdf</b>
                                                                    <ul>
                                                                        <li>https://drive.google.com/file/d/1Bh0U3h5xZUi9FBTXFTDSEXPzgO_xVN1u/view?usp=sharing</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <b>Google Workspace Files document - spreadsheet - slides</b>
                                                                    <ul>
                                                                        <li>https://docs.google.com/document/d/1dizuNfpXLsSlLsBNlnEBb1271VjzYAxUEWUR0ResuXQ/edit?usp=sharing</li>
                                                                        <li>https://docs.google.com/presentation/d/1-VXMto26IlVnvHaxxIZL10xC_vVU-ciPCJuYF4Z8iTY/edit?usp=sharing</li>
                                                                        <li>https://docs.google.com/spreadsheets/d/1iui-rcOQMxT0AO17miztbBbdI7MNwi_XK2IWG_T8KUA/edit?usp=sharing</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <b>Google Forms</b>
                                                                    <ul>
                                                                        <li>https://docs.google.com/forms/d/e/1FAIpQLScZus61C6F8lwZjt_cvuRx4XQYt7Z5aonchGbmogVpFD31E6Q/viewform?usp=sharing</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <b>Canva</b>
                                                                    <ul>
                                                                        <li>https://www.canva.com/design/DAFiU9g0Kmg/BQqvCCfoiKTtz1b2WOH1JQ/edit</li>
                                                                        <li>https://www.canva.com/design/DAFiU9g0Kmg/BQqvCCfoiKTtz1b2WOH1JQ/edit?utm_content=DAFiU9g0Kmg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton</li>
                                                                        <li>https://www.canva.com/design/DAFiU9g0Kmg/view</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- TITLE -->
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-type-h1"></i>
                                        </span>
                                        <!-- <input v-model="store.nextPage.title" type="text" placeholder="Title" class="form-control"> -->
                                        <textarea v-model="store.nextPage.title" type="text" placeholder="Title" class="form-control fs-small" rows="2"></textarea>
                                        <span title="Gemini AI" role="button" class="input-group-text" data-bs-toggle="modal" data-bs-target="#titleAiModel">
                                            <!-- <i class="bi bi-stars text-primary-200"></i> -->
                                            <span class="material-symbols-outlined">bolt</span>
                                        </span>
                                        <!-- Title Ai Modal -->
                                        <div class="modal fade" id="titleAiModel" tabindex="-1">
                                            <div class="modal-dialog">
                                              <div class="modal-content p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center">
                                                <i class="bi bi-stars fs-2 text-primary-100"></i>
                                                <h1 class="bungee text-primary-200 fs-2">Gemini AI</h1>
                                                <p class="roboto text-secondary"><b>Prompt: </b>Generate a single, direct blog title about {{store.nextPage.title}}. Aim for a professional and creative tone.</p>
                                                <div style="height: 46px;" @click="geminiRun('title',`Generate a single, direct blog title about ${store.nextPage.title}. Aim for a professional and creative tone.`)" class="bg-gradient sans text-light fs-5 px-3 py-2 rounded ls-1 w-100 d-flex justify-content-center align-items-center" role="button">
                                                    <div v-if="spinner" v-cloak class="spinner-line"></div>
                                                    <span v-else >Generate</span>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <!-- Description -->
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="bi bi-card-text"></i></div>                                        
                                        <textarea v-model="store.nextPage.description" type="text" placeholder="Description" class="form-control fs-small" rows="2"></textarea>
                                        
                                        <span title="Gemini AI" role="button" class="input-group-text" data-bs-toggle="modal" data-bs-target="#descriptionAiModel">
                                            <!-- <i class="bi bi-stars text-primary-200"></i> -->
                                            <span class="material-symbols-outlined">bolt</span>
                                        </span>
                                        <!-- Description Ai Modal -->
                                        <div class="modal fade" id="descriptionAiModel" tabindex="-1">
                                            <div class="modal-dialog">
                                              <div class="modal-content p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center">
                                                <i class="bi bi-stars fs-2 text-primary-100"></i>
                                                <h1 class="bungee text-primary-200 fs-2">Gemini AI</h1>
                                                <p class="roboto text-secondary"><b>Prompt: </b>Generate a single, direct blog seo description about {{store.nextPage.title}}. Aim for a professional and creative tone.</p>
                                                <div style="height: 46px;" @click="geminiRun('description',`Generate a single, direct blog seo description about ${store.nextPage.title}. Aim for a professional and creative tone.`)" class="bg-gradient sans text-light fs-5 px-3 py-2 rounded ls-1 w-100 d-flex justify-content-center align-items-center" role="button">
                                                    <div v-if="spinner" v-cloak class="spinner-line"></div>
                                                    <span v-else >Generate</span>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <!-- Keywords -->
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="bi bi-key"></i></div>
                                        <input v-model="store.nextPage.keywords" type="text" placeholder="Keywords" class="form-control fs-small">
                                        
                                        <span title="Gemini AI" role="button" class="input-group-text" data-bs-toggle="modal" data-bs-target="#keywordsAiModel">
                                            <!-- <i class="bi bi-stars text-primary-200"></i> -->
                                            <span class="material-symbols-outlined">bolt</span>
                                        </span>
                                        <!-- Keywords Ai Modal -->
                                        <div class="modal fade" id="keywordsAiModel" tabindex="-1">
                                            <div class="modal-dialog">
                                              <div class="modal-content p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center">
                                                <i class="bi bi-stars fs-2 text-primary-100"></i>
                                                <h1 class="bungee text-primary-200 fs-2">Gemini AI</h1>
                                                <p class="roboto text-secondary"><b>Prompt: </b>Generate a single, direct blog seo keywords about {{store.nextPage.title}}. Aim for a professional and creative tone.</p>
                                                <div style="height: 46px;" @click="geminiRun('keywords',`Generate a list of keywords (must be separated by coma) related to this blog title '${store.nextPage.title}'.`)" class="bg-gradient sans text-light fs-5 px-3 py-2 rounded ls-1 w-100 d-flex justify-content-center align-items-center" role="button">
                                                    <div v-if="spinner" v-cloak class="spinner-line"></div>
                                                    <span v-else >Generate</span>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>  
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" @click="refreshArticle()">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                <span class="fw-bold sans">2. Write the article</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#pageEditor">
                            <div class="p-2">
                                <aside class="d-flex flex-column gap-2">
                                    <!-- <div class="input-group input-group-sm">
                                        <div class="input-group-text d-flex align-items-center gap-2 px-3 px-md-2"><i class="bi bi-stars text-primary-200 fs-5"></i> <span class="d-none d-md-block roboto">Gemini AI Tools</span></div>
                                        <div class="form-control d-flex align-items-center gap-2 roboto">
                                            <span data-bs-toggle="modal" data-bs-target="#generateArticle" role="button" class="px-2 py-1 border d-flex align-items-center gap-1 rounded fs-small"><span class="material-symbols-outlined text-primary-200 fs-6">edit_document</span><span class="d-none d-md-block">Generate article</span></span>
                                            <span class="px-2 py-1 border d-flex align-items-center gap-1 rounded fs-small"><span class="material-symbols-outlined text-primary-200 fs-6">quick_reference_all</span><span class="d-none d-md-block">Generate SEO Keywords</span></span>
                                            <span data-bs-toggle="modal" data-bs-target="#summariseArticle" role="button" class="px-2 py-1 border d-flex align-items-center gap-1 rounded fs-small"><span class="material-symbols-outlined text-primary-200 fs-6">short_text</span><span class="d-none d-md-block">Summarise article</span></span>
                                            <span data-bs-toggle="modal" data-bs-target="#summariseArticle" role="button" class="px-2 py-1 border d-flex align-items-center gap-1 rounded fs-small"><span class="material-symbols-outlined text-primary-200 fs-6">scan</span><span class="d-none d-md-block">Revise article</span></span>
                                        </div>
                                    </div> -->
                                    <aside class="d-flex align-items-center gap-1 flex-wrap fs-small mt-2">
                                        <span role="button" title="Insert Symbols" data-bs-toggle="modal" data-bs-target="#symbolsModal" class="px-2 py-0 roboto bg-light rounded border">Symbols</span>
                                        <!-- Modal -->
                                        <div class="modal modal-xl fade" id="symbolsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h1 class="modal-title fs-5">SYMBOLS</h1>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="accordion" id="symbolsAcc">
                                                        <div class="accordion-item" v-for="node in utilities.getSymbols()">
                                                          <h2 class="accordion-header">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#'+node">
                                                              {{node}}
                                                            </button>
                                                          </h2>
                                                          <div :id="node" class="accordion-collapse collapse" data-bs-parent="#symbolsAcc">
                                                            <div class="accordion-body">
                                                                <section class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                                                                    <span @click="utilities.copi(pod.hex)" data-bs-dismiss="modal" v-for="pod in utilities.getSymbols(node)" class="fs-6 btn btn-sm btn-outline-dark">
                                                                        <span v-html="pod.hex"></span>
                                                                    </span>
                                                                </section>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </aside>
                                    <div id="editor-container"></div>
                                    
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" @click="refreshArticle()">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                <span class="fw-bold sans">3. Preview & Publish</span>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#pageEditor">
                            <div class="p-2">
                                <aside>
                                    <section>
                                        <media-preview :links="filteredLinks" :thumbnails="store.nextPage.media"></media-preview>
                                    </section>
                                    <section class="d-flex flex-column gap-3">
                                        <aside class="p-2 border rounded" style="min-height: 241.6px;">
                                            <div id="editor-output"></div>
                                        </aside>
                                        
                                        <small v-if="!utilities.isValidPayload(store.nextPage,['folder','badge','title','keywords','description','media']).status" class="fs-x-small text-danger sans">{{utilities.isValidPayload(store.nextPage,['folder','badge','title','keywords','description','media']).message}}</small>
                                        <button v-else @click="publishPage" class="btn btn-sm btn-outline-dark d-flex gap-2 align-items-center" style="width: fit-content !important;" :disabled="spinner || !utilities.isValidPayload(store.nextPage,['folder','badge','title','keywords','description','media']).status">
                                            <span class="m-0">Publish page</span>
                                        </button>
                                        
                                    </section>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="spinner-line" v-if="spinner"></div>
                </div>
            </aside>
        </div>
    </div>
</section>