<section style="overflow-x: hidden !important; background-color: white;">
    <div class="container my-5">
        <div class="row justify-content-center g-1 mb-5">
            <div class="col-12 my-3">
                <div class="d-flex flex-column gap-2">
                    <h3 data-aos="zoom-in-right" data-aos-duration="1000"
                        class="font-title text-j-grey ps-2 border-tag-left">Our Services</h3>
                    <p data-aos="zoom-out" data-aos-duration="1500" class="font-normal text-j-dark fs-small">Our focus
                        is media and technology but we understand that our clients may need a helping hand in other
                        areas of the law, for that we extend our assistance to our clients to cover other areas of
                        practice, providing our clients with 360-degree legal service. </p>
                </div>
            </div>

            <!-- <div class="col-12 d-lg-none">
                <swiper-container id="s-swiper" :pagination="{clickable:true}" :spaceBetween="10" :breakpoints="{
                    0: {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    1200: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    1400: {
                        slidesPerView: 4,
                        spaceBetween: 10,
                    },
                }">
                    <swiper-slide v-for="node in filteredServices" :key="node">
                        <hexagon :data="node"></hexagon>
                    </swiper-slide>
                </swiper-container>
                <div v-if="!store.spinner"  class="d-flex justify-content-center">
                    <div class="btn-group mt-3">
                        <button @click="slideBack()" role="button" class="btn btn-sm btn-outline-dark px-4">back</button>
                        <button @click="slideNext()" role="button" class="btn btn-sm btn-outline-dark px-4">next</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row justify-content-center gx-2" v-for="group in alternateByGroup()">
            <div class="col-lg-2 d-none d-lg-block" v-for="node in group">
                <hexagon class="w-100 h-100" :data="node"></hexagon>
            </div>
        </div>
        
        <div class="row justify-content-center gx-2">
            <div class="col-6 col-md-4 d-lg-none" v-for="node in filteredServices">
                <hexagon class="w-100 h-100" :data="node"></hexagon>
            </div>
        </div>
    </div>
</section>