<section style="overflow-x: hidden !important;">
    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-12">
                <aside class="d-flex flex-column gap-3 align-items-center">
                    <strong data-aos="zoom-in-up" data-aos-duration="1000" class="font-title fs-3 text-j-dark pb-2 border-tag-bottom w-fit">Our Story</strong>
                    <p data-aos="zoom-out" data-aos-duration="1500" class="font-normal text-j-dark fs-small text-center">Our firm was founded by <a href="https://www.linkedin.com/in/fadi-el-jurdi-31984747/" class="mx-1" aria-label="Fadi El Jurdi"><strong>Fadi El Jurdi</strong> <i class="bi bi-link"></i></a>, a seasoned practitioner in the MENA region media and entertainment industry. Fadi held pivotal roles including Director of Business and Legal Affairs at Netflix International and Legal Director - Intellectual Property and Production at MBC Group. Fadi brought to the firm not only his expertise but also  his vision of delivering private practice services with an in-house mindset.</p>
                    <a href="/services/" class="fs-small text-j-primary font-normal w-100 text-center">Check our services</a>
                </aside>
            </div>
        </div>
    </div>
</section>
<hr class="container">