<div class="p-2 shadow-sm rounded d-flex gap-3 justify-content-between align-items-center">
    <div class="d-flex gap-2 align-items-center">
        <!-- <img :src="store.logoSrc" alt="my-pic" aria-label="logo"  class="rounded-circle object-fit-cover shadow-sm rounded-circle" width="45" height="45"> -->
        <!-- <slot></slot> -->
        <div>
            <h1 class="fs-6 text-primary-200 font-title"  aria-label="Mahmoud Mashoun" >Jurdi & Co</h1>
            <p class="text-primary-200 fs-smaller font-normal text-fade">Navigating the legal landscape of the digital age.</p>
        </div>
    </div>
    <div class="">
        <i data-bs-toggle="dropdown" role="button" class="bi bi-three-dots-vertical fs-5"></i>
        <ul class="dropdown-menu font-normal bg-light fs-small">
            <li><a aria-label="home page"  class="dropdown-item" href="/">Home page</a></li>
            <li><a aria-label="services"  class="dropdown-item" href="/services">Services</a></li>
            <li><a aria-label="blogs"  class="dropdown-item" href="/blogs">News & Insights</a></li>
            <li><a aria-label="privacy and terms"  class="dropdown-item" href="/privacy-and-terms-of-use">Privacy and Terms of use</a></li>
            <li><a aria-label="contact"  class="dropdown-item" href="/contact">Contact</a></li>
        </ul>
    </div>
</div>