<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jurdi & Co</title>

    <!-- SEO Tags -->
    <meta name="title" content="Jurdi & Co">
    <meta name="description" content="Where private practice meets the in-house lawyers' mindset. JURDI & CO provides legal services relating to media, technology, intellectual property, employment, corporate commercial and other areas of the law. We work hand in hand with our clients' in-house counsels to provide their businesses the high standard legal services they expect and well deserve.">
    <meta name="keywords" content="Jurdi & Co, Jurdi Law, Middle East Media Lawyers, arabic media and technology lawyers, gaming law, bilingual media lawyers in the middle east,  content production lawyers in the middle east">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Fadi El Jurdi">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jurdilaw.com/">
    <meta property="og:title" content="Jurdi & Co">
    <meta property="og:description" content="Where private practice meets the in-house lawyers' mindset. JURDI & CO provides legal services relating to media, technology, intellectual property, employment, corporate commercial and other areas of the law. We work hand in hand with our clients' in-house counsels to provide their businesses the high standard legal services they expect and well deserve.">
    <meta property="og:image" content="/assets/logo.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jurdilaw.com/">
    <meta property="twitter:title" content="Jurdi & Co">
    <meta property="twitter:description" content="Where private practice meets the in-house lawyers' mindset. JURDI & CO provides legal services relating to media, technology, intellectual property, employment, corporate commercial and other areas of the law. We work hand in hand with our clients' in-house counsels to provide their businesses the high standard legal services they expect and well deserve.">
    <meta property="twitter:image" content="/assets/logo.jpg">
    <link rel="shortcut icon" href="/assets/logo-2.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- JS -->
    <script src="/js/packages/vue.min.js" defer></script>
    
    <!-- version 1.1 -->


</head>

<body id="app" style="overflow-x: hidden !important;">

    <!-- <section v-if="spinner" class="position-fixed z-3 bg-light w-100 h-100 bg-blocks d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </section> -->
    <header>
        <div v-if="store.spinner" class="spinner-line"></div>
        <navbar></navbar>
    </header>
    <hero-section></hero-section>
    <main class="d-flex flex-column gap-5 py-5 bg-blocks">
        <banner-section></banner-section>
        <services-section></services-section>
        <difference-section></difference-section>
        <blogs-section></blogs-section>
        <contact-section ></contact-section>
    </main>
    <footer-section></footer-section>
    <!-- JAVASCRIPT -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="./js/app.js"></script>
    

</body>

</html>