<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <aside class="contact-container shadow-sm border rounded">
                <section class="contact-form">
                    <input v-model="inputName" type="text" class="contact-input font-normal fs-small" placeholder="Your name">
                    <input v-model="inputSubject" type="text" class="contact-input font-normal fs-small" placeholder="The Subject">
                    <textarea v-model="inputMessage" rows="5" class="contact-input font-normal fs-small" placeholder="Type your message.."></textarea>
                </section>
                <a aria-label="send message" :href="sendMessage" class="btn-action w-fit">Send message</a>
                
                <aside data-aos="zoom-in-up" data-aos-duration="1500" class="contact-links shadow border rounded bg-light">
                    <strong class="font-title ls-1 text-j-dark pb-2 border-tag-bottom contact-title w-fit">Contact us</strong>
                    <div class="d-flex flex-column gap-3 font-title">
                        <a aria-label="email" :href="'mailto:'+store.contact.email" class="d-flex align-items-center gap-3">
                            <i class="bi bi-envelope contact-icon fs-3"></i>
                            <span>{{store.contact.email}}</span>
                        </a>
                        <!-- <span class="d-flex align-items-center gap-3">
                            <i class="bi bi-map fs-3 contact-icon"></i>
                            <span>{{store.contact.address}}</span>
                            
                        </span>
                        <a aria-label="number" :href="'tel:'+store.contact.number" class="d-flex align-items-center gap-3">
                            <i class="bi bi-telephone fs-3 contact-icon"></i>
                            <span>+{{store.contact.number}}</span>
                        </a> -->
                    </div>
                </aside>
            </aside>
            
        </div>
    </div>
</section>
