<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <aside class="contact-container shadow-sm border rounded">
                <section class="contact-form">
                    <input autocomplete="none" name="email" v-model.trim="inputEmail" type="email" class="contact-input font-normal fs-small" placeholder="Your email">
                    <input autocomplete="none" name="name" v-model.trim="inputName" type="text" class="contact-input font-normal fs-small" placeholder="Your name">
                    <input name="subject" v-model.trim="inputSubject" type="text" class="contact-input font-normal fs-small" placeholder="The Subject">
                    <textarea name="message" v-model.trim="inputMessage" rows="5" class="contact-input font-normal fs-small" placeholder="Type your message.."></textarea>
                </section>
                <!-- <a aria-label="send message" :href="sendMessage" class="btn-action w-fit">Send message</a> -->
                <button :disabled="store.spinner" class="btn-action w-fit" @click="sendMessageTo()">Send message</button>
                
                <aside data-aos="zoom-in-up" data-aos-duration="1500" class="contact-links shadow border rounded bg-light">
                    <strong class="font-title ls-1 text-j-dark pb-2 border-tag-bottom contact-title w-fit">Contact us</strong>
                    <div class="d-flex flex-column gap-3 font-title">
                        <div v-if="store.spinner" class="d-flex align-items-center gap-3 w-100">
                            <div class="skeleton rounded-circle" style="width: 1.5rem; height: 1.5rem;"></div>
                            <div class="skeleton rounded-pill" style="width: 150px; height: 1rem;"></div>
                        </div>
                        <a v-else aria-label="email" :href="'mailto:'+store.contact.email" class="d-flex align-items-center gap-3">
                            <i class="bi bi-envelope contact-icon fs-3"></i>
                            <span>{{store.contact.email}}</span>
                        </a>
                        <!-- <span class="d-flex align-items-center gap-3">
                            <i class="bi bi-map fs-3 contact-icon"></i>
                            <span>{{store.contact.address}}</span>
                            
                        </span>
                        <a aria-label="number" :href="'tel:'+store.contact.number" class="d-flex align-items-center gap-3">
                            <i class="bi bi-telephone fs-3 contact-icon"></i>
                            <span>+{{store.contact.number}}</span>
                        </a> -->
                    </div>
                </aside>
            </aside>
            
        </div>
    </div>
</section>
