<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo new 2</title>

    <meta name="title" content="demo new 2">
    <meta name="description" content="demo description">
    <meta name="keywords" content="demo,keywords">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Fadi ElJurdi">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jurdilaw.com/blogs/demo-new-2.html">
    <meta property="og:title" content="demo new 2">
    <meta property="og:description" content="demo description">
    <meta property="og:image" content="https://lh3.googleusercontent.com/d/14eaXVyCIjQUeSjO-BhhFCSl2gDqohCss">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jurdilaw.com/blogs/demo-new-2.html">
    <meta property="twitter:title" content="demo new 2">
    <meta property="twitter:description" content="demo description">
    <meta property="twitter:image" content="https://lh3.googleusercontent.com/d/14eaXVyCIjQUeSjO-BhhFCSl2gDqohCss">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/d/14eaXVyCIjQUeSjO-BhhFCSl2gDqohCss" type="image/x-icon">
    
  
    <!-- CSS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/app.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="../js/packages/vue.min.js" defer></script>

</head>

<body id="app" class="bg-blocks">
    
    <section v-if="spinner" class="spinner-container">
        <div class="spinner"></div>
    </section>
    <!-- <spinner v-if="spinner"></spinner> -->
    <pagination folder="blogs">demo new 2</pagination>
    <main class="py-3">
        <section class="container">
            <div class="row g-3">
                <div class="col-12 col-lg-8">
                    <article class="shadow-sm bg-glass p-2 rounded d-flex flex-column gap-3">
                        <blog-header aria-label="blog-header"></blog-header>
                        <blog-media media="https://lh3.googleusercontent.com/d/14eaXVyCIjQUeSjO-BhhFCSl2gDqohCss,https://www.youtube.com/watch?v=QujeqwwjL9g,https://picsum.photos/1080"></blog-media>
                        <section>
                            <p class="font-normal text-j-dark text-fade fs-x-small fw-bold"><span class="px-2 py-1 bg-j-primary rounded text-light ls-1 me-2">BLOG</span><time>{{utilities.timo('Mon, 08 Apr 2024 08:59:57 GMT')}}</time></p>
                            <h1 class="my-2 font-title text-j-dark">demo new 2</h1>
                            <aside class="font-normal text-j-dark" v-show="!translated" id="original">
                                <p>My new page 2 Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </aside>
                        </section>
                        <section v-show="translated" id="translated"></section>
                        <hr class="text-heading">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fs-small pop text-normal">
                                <span v-show="!translated" class="point text-decoration-underline"
                                    @click="translate">see translation</span>
                                <span v-show="translated" class="point text-decoration-underline"
                                    @click="translated = !translated">see original</span>
                            </div>
                            <div class="d-flex align-items-center gap-3 point">
                                <i title="share this page" class="bi bi-share-fill text-normal"
                                    @click="utilities.shareBy(`demo new 2`,`https://jurdilaw.com/blogs/demo-new-2.html`)"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <check-also></check-also>
                </div>
            </div>
        </section>
    </main>
    <footer-section></footer-section>
    
    <!-- JAVASCRIPT -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../js/app.js"></script>
    
</body>

</html>