<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Litigation & Arbitration</title>

    <meta name="title" content="Litigation & Arbitration">
    <meta name="description" content="Our litigation team can represent you before any court and tribunal in Lebanon. That includes representation before the civil and criminal courts of Lebanon (including but not limited to military courts) and in all levels (first instance, appeal and cassation). We also represent our clients before special tribunals and in arbitration proceedings.">
    <meta name="keywords" content="Litigation, Arbitration, Dispute Resolution, Commercial Litigation, Civil Litigation, Tort Litigation, Contract Disputes, Business Disputes, International Litigation, Class Actions, Arbitration Agreements, Mediation, Settlement Negotiations, Trial, Appeals, Legal Counsel, Legal Representation">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Fadi ElJurdi">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jurdilaw.com/services/litigation-arbitration.html">
    <meta property="og:title" content="Litigation & Arbitration">
    <meta property="og:description" content="Our litigation team can represent you before any court and tribunal in Lebanon. That includes representation before the civil and criminal courts of Lebanon (including but not limited to military courts) and in all levels (first instance, appeal and cassation). We also represent our clients before special tribunals and in arbitration proceedings.">
    <meta property="og:image" content="https://lh3.googleusercontent.com/d/1lV3ou5evDBahW_HvLn6lD0FaN8t0RnCp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jurdilaw.com/services/litigation-arbitration.html">
    <meta property="twitter:title" content="Litigation & Arbitration">
    <meta property="twitter:description" content="Our litigation team can represent you before any court and tribunal in Lebanon. That includes representation before the civil and criminal courts of Lebanon (including but not limited to military courts) and in all levels (first instance, appeal and cassation). We also represent our clients before special tribunals and in arbitration proceedings.">
    <meta property="twitter:image" content="https://lh3.googleusercontent.com/d/1lV3ou5evDBahW_HvLn6lD0FaN8t0RnCp">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/d/1lV3ou5evDBahW_HvLn6lD0FaN8t0RnCp" type="image/x-icon">
    
  
    <!-- CSS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/app.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="../js/packages/vue.min.js" defer></script>

</head>

<body id="app" class="bg-blocks">
    
    <section v-if="spinner" class="spinner-container">
        <div class="spinner"></div>
    </section>
    <!-- <spinner v-if="spinner"></spinner> -->
    <pagination folder="services">Litigation & Arbitration</pagination>
    <main class="py-3">
        <section class="container">
            <div class="row g-3">
                <div class="col-12 col-lg-8">
                    <article class="shadow-sm bg-glass p-2 rounded d-flex flex-column gap-3">
                        <blog-header aria-label="blog-header"></blog-header>
                        <blog-media media="https://lh3.googleusercontent.com/d/1lV3ou5evDBahW_HvLn6lD0FaN8t0RnCp"></blog-media>
                        <section>
                            <p class="font-normal text-j-dark text-fade fs-x-small fw-bold"><span class="px-2 py-1 bg-j-primary rounded text-light ls-1 me-2">SERVICE</span><time>{{utilities.timo('Mon, 08 Apr 2024 02:28:56 GMT')}}</time></p>
                            <h1 class="my-2 font-title text-j-dark">Litigation & Arbitration</h1>
                            <aside class="font-normal text-j-dark" v-show="!translated" id="original">
                                <p>Our litigation team can represent you before any court and tribunal in Lebanon. That includes representation before the civil and criminal courts of Lebanon (including but not limited to military courts) and in all levels (first instance, appeal and cassation). We also represent our clients before special tribunals and in arbitration proceedings.</p><p><br></p>
                            </aside>
                        </section>
                        <section v-show="translated" id="translated"></section>
                        <hr class="text-heading">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center fs-small pop text-normal">
                                <span v-show="!translated" class="point text-decoration-underline"
                                    @click="translate">see translation</span>
                                <span v-show="translated" class="point text-decoration-underline"
                                    @click="translated = !translated">see original</span>
                            </div>
                            <div class="d-flex align-items-center gap-3 point">
                                <i title="share this page" class="bi bi-share-fill text-normal"
                                    @click="utilities.shareBy(`Litigation & Arbitration`,`https://jurdilaw.com/services/litigation-arbitration.html`)"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <check-also></check-also>
                </div>
            </div>
        </section>
    </main>
    <footer-section></footer-section>
    
    <!-- JAVASCRIPT -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../js/app.js"></script>
    
</body>

</html>