<section class="py-5">
    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-12">
                <div class="d-flex flex-column gap-2">
                    <h3 class="text-center">
                        <span class="font-title">How we are</span><br>
                        <span class="font-handwriting text-j-primary ls-1">Different?</span>
                    </h3>
                    <p class="text-j-dark font-normal fs-small text-center">At JURDI & CO we know that what makes us different, makes us successful in building sustainable business relations with our clients. For that we are determined to be committed to four core values:</p>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <aside class="d-flex flex-wrap justify-content-center align-items-center gap-3">
                    <span data-aos="zoom-in-up" data-aos-duration="1000" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <!-- <i class="text-j-primary">✔</i> -->
                        <b># Agility</b>
                    </span>
                    <span data-aos="zoom-in-up" data-aos-duration="1500" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <!-- <i class="text-j-primary">✔</i> -->
                        <b># Transparency </b>
                    </span>
                    <!-- <span data-aos="zoom-in-up" data-aos-duration="2000" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <i class="text-j-primary">✔</i>
                        <b># Adaptable</b>
                    </span> -->
                    <span data-aos="zoom-in-up" data-aos-duration="2500" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <!-- <i class="text-j-primary">✔</i> -->
                        <b># Responsiveness</b>
                    </span>
                    <span  data-aos="zoom-in-up" data-aos-duration="3000" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <!-- <i class="text-j-primary">✔</i> -->
                        <b># Quality Service</b>
                    </span>
                    <!-- <span  data-aos="zoom-in-up" data-aos-duration="3000" class="px-3 py-1 shadow-sm bg-glass text-j-dark rounded-15 font-normal d-flex align-items-center gap-3">
                        <i class="text-j-primary">✔</i>
                        <b># Dedicated</b>
                    </span> -->
                </aside>
            </div>
        </div>
    </div>
</section>