<aside class="p-2 bg-light rounded shadow-sm d-flex flex-column gap-3">
    <h5 class="fs-6 text-primary-200 font-title">Check also</h5>
    <div v-if="store.spinner" class="d-flex flex-column gap-2">
        <div v-for="node in ['','','','','','','','','','','','','']" class="d-flex align-items-center gap-2">
            <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
            <div class="skeleton rounded-pill" style="width: 25%; height: .7rem;"></div>
            <div class="skeleton rounded-pill" style="width: 75%; height: .7rem;"></div>
        </div>
    </div>
    <div v-else class="d-flex flex-column gap-2">
        <a :href="node.url" :aria-label="node.title" class="d-flex gap-1 align-items-center" v-for="node in store.services.slice(-8)" :key="node.id">
            <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
            <span class="text-secondary fs-small text-fade">services / {{node.title}}</span>
        </a>
        <a :href="node.url" :aria-label="node.title" class="d-flex gap-1 align-items-center" v-for="node in store.blogs.slice(-8)" :key="node.id">
            <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
            <span class="text-secondary fs-small text-fade">blogs / {{node.title}}</span>
        </a>
    </div>
</aside>