<section class="d-flex flex-column gap-3">
    <aside class="p-2 bg-light rounded shadow-sm d-flex flex-column gap-3" v-if="[...canvaLinks,...googleFiles,...googleFormsLinks].length != 0">
        <h5 class="fs-6 text-primary-200 font-title d-flex align-items-center gap-2">
            
            <span>Attachments</span>
            <span class="material-symbols-outlined fs-5">attachment</span>
        </h5>
        
        <section class="d-flex flex-column gap-1">
            <!-- Canva -->
            <figure v-for="node in canvaLinks">
                <div class="ratio ratio-4x3">
                    <iframe class="rounded" :src="'https://www.canva.com/design/'+node+'/view?embed'" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </figure>
        </section>

        <section class="d-flex flex-column gap-1">
            <!-- Google Doc + Sheets + Slides + Media Files -->
            <figure v-for="node in googleFiles">
                <div class="ratio ratio-4x3">
                    <iframe class="rounded" :src="'https://drive.google.com/file/d/'+node+'/preview'" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </figure>
        </section>

        
        <section class="d-flex flex-column gap-1">
            <!-- Google Forms -->
            <figure v-for="node in googleFormsLinks">
                <div class="ratio ratio-1x1">
                    <iframe class="rounded" :src="'https://docs.google.com/forms/d/e/'+node+'/viewform?embedded=true'" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </figure>
        </section>

    </aside>

    <aside class="p-2 bg-light rounded shadow-sm d-flex flex-column gap-3">
        <h5 class="fs-6 text-primary-200 font-title d-flex align-items-center gap-2">
            
            <!-- <span class="material-symbols-outlined fs-5">link</span> -->
            <span>Check also</span>
        </h5>
        <div v-if="store.spinner" class="d-flex flex-column gap-2">
            <div v-for="node in ['','','','','','','','','','','','','']" class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
                <div class="skeleton rounded-pill" style="width: 25%; height: .7rem;"></div>
                <div class="skeleton rounded-pill" style="width: 75%; height: .7rem;"></div>
            </div>
        </div>
        <div v-else class="d-flex flex-column gap-2">
            <a :href="node.url" :aria-label="node.title" class="d-flex gap-1 align-items-center" v-for="node in store.services.filter(node => node.badge.trim().toUpperCase() != 'DEMO').slice(-8).reverse()" :key="node.id">
                <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
                <span class="text-secondary fs-small text-fade">services / {{node.title}}</span>
            </a>
            <a :href="node.url" :aria-label="node.title" class="d-flex gap-1 align-items-center" v-for="node in store.blogs.filter(node => node.badge.trim().toUpperCase() != 'DEMO').slice(-8).reverse()" :key="node.id">
                <span class="material-symbols-outlined fs-6 text-primary-150">feed</span>
                <span class="text-secondary fs-small text-fade">blogs / {{node.title}}</span>
            </a>
        </div>
    </aside>
</section>