<!-- <section id="hero" :class="{'bg-hero': !wallpaper,'bg-hero-blocks':wallpaper}" class="d-flex justify-content-center align-items-center" style="overflow-x: hidden !important; height: calc(100vh);width: 100%;"> -->
<section id="hero" class="bg-hero d-flex justify-content-center align-items-center" style="overflow-x: hidden !important; height: calc(100vh);width: 100%;">
    <section class="container">
        <div class="row justify-content-center align-items-end">
            <div class="col-1">
                <aside data-aos="zoom-in-up" data-aos-duration="1000" class="fs-5 text-j-dark d-flex flex-column gap-3 align-items-end">
                    <a aria-label="whatsapp" :href="store.contact.whatsapp"><i class="bi bi-whatsapp"></i></a>
                    <a aria-label="linkedIn" :href="store.contact.linkedIn"><i class="bi bi-linkedin"></i></a>
                    <a aria-label="email" :href="'mailto:'+store.contact.email"><i class="bi bi-envelope"></i></a>
                    <!-- <i @click="applyBackground" class="bi bi-upload"></i>
                    <div class="dropdown">
                        <i class="bi bi-palette fs-5" role="button" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li role="button" class="dropdown-item" @click="store.navbarBg = 'bg-light'">White bg</li>
                            <li role="button" class="dropdown-item" @click="store.navbarBg = 'bg-dark text-light'">Black bg</li>
                            <li role="button" class="dropdown-item" @click="store.navbarBg = 'bg-glass'">Glass bg</li>
                            <li role="button" class="dropdown-item" @click="store.navbarBg = 'bg-transparent'">Full Transparent bg</li>
                        </ul>
                    </div> -->
                </aside>
            </div>
            <div class="col-10 col-lg-6">
                <section data-aos="fade-right" data-aos-duration="1500" class="hero-line ps-3 ps-lg-5 position-relative">
                    <h1 class="hero-title font-title text-j-dark">
                        <span>Welcome</span><br>
                        <span class="font-handwriting text-j-primary">to </span>
                        <span class="">JURDI & CO</span>
                    </h1>
                    <p class="fs-small text-j-dark font-normal">
                        Where private practice meets the in-house lawyers' mindset. JURDI & CO provides legal services relating to media, technology, intellectual property, employment, corporate commercial and other areas of the law. We work hand in hand with our clients' in-house counsels to provide their businesses the high standard legal services they expect and well deserve.                        
                    </p>
                </section>
            </div>
        </div>
    </section>
</section>